version: '3.8'

services:
  attacker:
    build:
      context: ./infra
      args:
        SETUP_SCRIPT: setup_attacker.sh
    container_name: attacker
    networks:
      - lab-network

  victim:
    build:
      context: ./infra
      args:
        SETUP_SCRIPT: setup_victim.sh
    container_name: victim
    ports:
      - "2222:22"
    networks:
      - lab-network

  victim_hardened:
    build:
      context: ./infra
      args:
        SETUP_SCRIPT: setup_victim_modified.sh
    container_name: victim_hardened
    ports:
      - "2223:22"
    networks:
      - lab-network

networks:
  lab-network:
    driver: bridge
