version: '3.8'

services:
  attacker:
    build:
      context: .
      dockerfile: ./infra/Dockerfile
      args:
        SETUP_SCRIPT: setup_attacker.sh
    container_name: attacker
    networks:
      - lab-network

  victim:
    build:
      context: .
      dockerfile: ./infra/Dockerfile
      args:
        SETUP_SCRIPT: setup_victim.sh
    container_name: victim
    ports:
      - "2222:22"
    networks:
      - lab-network
      
networks:
  lab-network:
    driver: bridge
