services:
  attacker:
    build:
      context: .
      dockerfile: ./infra/Dockerfile
      args:
        SETUP_SCRIPT: setup_attacker.sh
    container_name: attacker
    networks:
      - lab-network
    tty: true
    stdin_open: true
    volumes:
      - ./exploits-safe/exploit.sh:/root/exploit.sh:ro

  victim:
    build:
      context: .
      dockerfile: ./infra/Dockerfile
      args:
        SETUP_SCRIPT: setup_victim.sh
    container_name: victim
    ports:
      - "2021:21"   # host 2021 -> container 21 (FTP)
      - "2222:22"   # host 2222 -> container 22 (SSH)
      - "2023:23"   # host 2023 -> container 23 (Telnet)
    networks:
      - lab-network
    tty: true
    stdin_open: true
    volumes:
      - ./infra:/root/infra:ro
      - ./exploits-safe:/tmp/exploits:ro

networks:
  lab-network:
    driver: bridge

